:root {
    --light-blue: #79c5e7;
    --dark-blue: #002447;
    --white: #fffaf7;
    --black: #000000;
    --mainFont: 'Pacifico', cursive;
    --menuFontSize: 32px;
}

body {
    display: flex;
    gap: 20px;
    font-family: var(--mainFont, sans-serif);
    color: var(--dark-blue, blue);
    width: 100%;
    height: 100%;
    background-color: var(--white, white);
}

.listMenu {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: var(--mainFont, sans-serif);
    font-size: var(--menuFontSize);
    height: 800px;
    width: 25%;
    border: 3px solid var(--dark-blue, blue);
    border-radius: 20px;
    overflow: hidden;
}

.title {
    display: inline-block;
    position: relative;
}

.title:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--dark-blue, blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.title:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#projectsList {
    height: 55%;
    width: 85%;
    align-self: start;
    overflow: hidden;
    margin: 0px;
}


.active-list {

    background-color: var(--light-blue, blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0px;
}

.inactive-list {
    margin: 0px;
    height: 10%;
    display: flex;
    align-items: center;
}


.newListName {
    margin: 0px;
    width: 60%;
    border-radius: 10px;
    font-family: var(--mainFont, sans-serif);
    font-size: var(--menuFontSize);
    font-size: calc(var(--menuFontSize)/2);
}

.addButton,
.deleteListButton {
    width: 80%;
    height: 10%;
    font-family: var(--mainFont, sans-serif);
    font-size: var(--menuFontSize);
    border-radius: 10px;
    background-color: var(--dark-blue, blue);
    color: var(--white, white);
}

.addButton:hover,
.addTaskButton:hover,
.submitButton:hover {
    background-color: var(--light-blue, blue);
}

.addButton:active,
.addTaskButton:active,
.submitButton:active {
    border: 5px solid black;
}

.mainMenu {
    position: relative;
    width: 72%;
    border: 3px solid var(--dark-blue, blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.listTitle {
    font-size: 50px;
    margin-left: 30px;
    text-decoration: underline;

}

.toDoList {

    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.taskContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 0 1;

    width: 100%;
    border-bottom: 3px solid var(--dark-blue, blue);

}

.task {
    font-size: 24px;
    margin: 0px;
}

.taskNotesContainer {
    position: absolute;
    width: 40%;
    height: 40%;
    left: 30%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translateY(-50%);
    border: 3px solid var(--light-blue, blue);
    border-radius: 10px;
    background-color: var(--light-blue, blue);
    display: grid;
    grid-template: 1fr 3fr / 1fr 1fr 1fr;
    justify-content: center;
    white-space: initial;
    overflow: hidden;
}

.notesTitle {
    grid-row: 1;
    grid-column: 2/3;
    justify-self: center;
    font-size: 30px;
}

.exitNotes {
    grid-row: 1;
    grid-column: 3;
    width: 20%;
    height: 30%;
    justify-self: right;
    background-color: var(--dark-blue, white);
    border-radius: 5px;
    color: var(--white, blue);
    border: 2px solid var(--dark-blue, blue);
    font-size: 20px;
}

.notes {
    padding-left: 5px;
    font-size: 24px;
    color: var(--dark-blue, blue);
    grid-row: 2;
    grid-column: 1/4;
    word-wrap: break-word;
}

.addTaskButton {
    width: 20%;
    height: 12%;
    border-radius: 10px;
    background-color: var(--dark-blue, white);
    color: var(--white, blue);
    justify-self: flex-end;
    font-size: var(--menuFontSize);
    font-family: var(--mainFont, sans-serif);
    margin-left: 75%;
    margin-top: 15px;
}

.formContainer {
    position: absolute;
    width: 70%;
    height: 80%;
    left: 15%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translateY(-50%);
    background-color: var(--light-blue, blue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 30px;
    gap: 30px;
}

.titleFormContainer,
.dateFormContainer,
.notesFormContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 20%;
}

.notesFormContainer {
    height: 40%;
    word-wrap: break-word;
    white-space: initial;
    overflow: hidden;

}

.titleInput,
.dateInput,
.notesInput {
    height: 50%;
    border-radius: 10px;
    border: 3px solid var(--dark-blue, blue);
    background-color: var(--white, white);
    color: var(--dark-blue, blue);
    font-size: 20px;
    font-family: var(--mainFont, sans-serif);
}

.submitButton {
    width: 30%;
    border-radius: 10px;
    align-self: center;
    height: 15%;
    background-color: var(--dark-blue, blue);
    color: var(--white, white);
    font-size: 20px;
    font-family: var(--mainFont, sans-serif);
}

.exitFormButton {
    right: 25px;
    position: absolute;
    width: 30px;
    height: 30px;
    justify-self: right;
    background-color: var(--dark-blue, white);
    border-radius: 5px;
    color: var(--white, blue);
    border: 2px solid var(--dark-blue, blue);
    font-size: 20px;
}

.dateAndDoneContainer {
    display: flex;
    gap: 20px;
}

.taskDone {

    font-family: var(--mainFont, sans-serif);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--dark-blue);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.taskDone:hover {
    background-color: var(--light-blue);
    box-shadow: 0px 15px 20px var(--light-blue);
    color: #fff;
    transform: translateY(-7px);
  }